@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

/* Navbar Section */

#navbar .container {
  margin-top: 24px;
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 100px;
}

.navbar-nav {
  gap: 51px;
  align-items: center;
}

.btn-nav button {
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
  background-image: linear-gradient(to left, #59ffb9, #326cff);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  position: relative;
}

.btn-nav button::before {
  content: '';
  position: absolute;
  border-radius: 100px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #59ffb9, #326cff);
  opacity: 0;
  transition: opacity 0.7s;
}

.btn-nav button:hover::before {
  opacity: 1;
}

.btn-nav button > span {
  position: relative;
}

.nav-item {
  font-weight: 600;
  color: #212427;
  font-size: 16px;
}
/* End Navbar Section */

/* Hero Section */

.hero-content {
  position: relative;
  width: auto;
  height: 100vh;
  padding: 0px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.hero-title h1 {
  /* background-color: red; */
  color: #20409a;
  font-size: 6em;
  font-weight: 900;
  font-style: italic;
  width: 40rem;
}

.hero-title h1 span {
  color: #27a997;
}
.btn-hero a {
  text-decoration: none;
  border: none;
  font-weight: 700;
  color: #fff;
  background-color: #ffc73c;
  padding: 10px 25px;
  border-radius: 100px;
  box-shadow: 0px 18px 40px 12px #ffd36759;
  transition: 0.3s;
}

.btn-hero a:hover {
  background-color: #ff9a3c;
  box-shadow: 0px 18px 40px 12px #ff9a3c40;
}

/* End Hero Section */

/* daftar Section */
#daftar {
  margin-top: 58px;
}
.card-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 32px;
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
}

.card-left .img-daftar {
  width: 518px;
  height: 388px;
}
.card-left .daftar-text {
  padding: 0 32px;
}

.daftar-text h1 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
}

.daftar-text p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  width: 100;
}
.card-right {
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  display: flex;
  width: 582px;
  padding: 32px;
  flex-direction: column;
  gap: 12px;
}

.card-right h1 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
}
.card-right p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.card-right-img .img-daftar {
  border-radius: 20px;
  width: 178px;
  height: 178px;
}
.card-right-img {
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  display: flex;
  width: 582px;
  padding: 32px;
  gap: 30px;
}

.card-right-img h1 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
}
.card-right-img p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.daftar-right {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* End daftar Section */

/* Sponsor */
.card-sponsor {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 7%;
  background-image: linear-gradient(to bottom left, rgba(89, 255, 185, 0.6), #326cff 60%);
}

.card-sponsor h1 {
  margin-top: 50px;
  color: #fff;
  font-size: 36px;
  font-weight: 900;
}

.sup-parent {
  height: auto;
  margin: auto;
  padding: 20px 0px 60px 0px;
  overflow: hidden;
  position: relative;
}

.sup-slide {
  -webkit-animation: slide 8s linear infinite;
  animation: slide 8s linear infinite;
  display: flex;
  width: calc(291px * 16);
  gap: 20px;
}

.sup-item {
  border-radius: 10px;
  background: #fff;
}

.sup-item img {
  padding: 25px 37px;
  height: 94px;
  width: 216px;
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-291px * 8));
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-291px * 8));
  }
}
/* End Sponsor */
